.bg-gray:las {
    background-color: #f8f9fc;
}
.bg-dark {
    background-color: #1C1D23;
    color: #FFF;
}

h2 {
    font-size: 60px;
    line-height: 50px;
    margin-bottom: 15px;
    text-transform: capitalize;
}
p {
    font-size: 20px;
    line-height: 25px;
    color: #555;
}